<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tincher.appcraft">
    <!--   <uses-sdk tools:overrideLibrary="com.esri.arcgisruntime"/>&lt;!&ndash;强制合并Libs 的版本&ndash;&gt;-->

    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" /><!--允许访问振动设备-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--xunfeiguanggao 已经取出重复-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <!--ArcGIS    indicates that your app requires the OpenGL version 2.0 software feature for the app to run.-->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/App_name_AppCraft"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label,theme">
        <!-- android:supportsRtl="true"

        -->

        <meta-data
            android:name="TEST_CHANNEL_VALUE"
            android:value="${TEST_CHANNEL_VALUE}" />
        <meta-data
            android:name="ALL_CHANNEL_VALUE"
            android:value="${TEST_CHANNEL_VALUE}" />


        <activity
            android:name=".main.main.TestLaunchActivity1"
            android:launchMode="singleTask">
            <!--            <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>-->
        </activity>
        <activity
            android:name=".main.main.TestLaunchActivity2"
            android:launchMode="singleTask" />
        <activity
            android:name=".main.main.TestLaunchActivity3"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.main.TestLaunchActivity4"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.main.ArcGISTestActivity"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".main.main.ModifyIdentifyTest"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.customviewdemo.multi_select.MultiSelectMunuActivity"
            android:launchMode="singleTop">
            <!--            <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>-->
        </activity>


        <!--<activity android:name=".main.splash.activity.SplashActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.Splash">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".main.main.MainActivity" />

        <activity android:name=".main.example.activity.DaoActivity" />
        <activity android:name=".update.DownloadActivity" />
        <activity android:name=".update.DownloadBreakpointsActivity" />
        <activity android:name=".main.example.activity.ZxingActivity" />


        <service android:name="com.tincher.appcraft.update.DownloadService" />
        <service android:name=".update.VersionUpdateService" />

        <provider
            android:name=".widget.file_provider.VersionUpdateFileProvider"
            android:authorities="com.tincher.appcraft.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!--讯飞广告-->
        <service

            android:name="com.iflytek.voiceads.update.DownloadService"/>

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"

            android:screenOrientation="portrait"  />
        <!--android:authorities="packagename.fileProvider"-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.iflytek.voiceadsdemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_ifly" />
        </provider>
        <!--讯飞广告-->

    </application>

</manifest>